.flex4 {
   
    display: flex;
    width: 500px;
    height: 500px;
    background-color: #ccdde5;
    padding: 17px;
    border-radius: 30px;
    margin-left: 370px; 
    margin-top: 100px;
}
.flex5 {

    display: flex;
    flex-direction: column;
    padding-left: 30px;
    
}
.line2 {

       padding-top: 70px;
       font-family: sans-serif;
       font-weight:normal ;
       padding-left: 10px;
}

.line3 {

    padding-top: 30px;
    padding-right: 60px;
}
.line4 {

       padding-top: 30px;
       padding-right: 225px;
       text-align: left;
       
}
.modal{
   align-items: center;
   justify-content: center;
   align-self: center;

}
span {
    color: red;
    padding-left: 5px;

}