.flex2 {

     display: flex;
}

.b1 {

    width: 60px;
    height: 60px;
    color: #ffff;
    background-color: #686868;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}
.flex3 {

       display: flex;
       flex-direction: column;
       margin-left: 545px;
       margin-top: 20px;
       
}